<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <ConnectionStrings>
        <add key="PREventTracker" value="Data Source=.\\sqlexpress;Initial Catalog=PREventTracker;Integrated Security=True" />
    </ConnectionStrings>
    <appSettings>
        <add key="filename" value="c:/glm/worklog.txt"/>
    </appSettings>
</configuration>